*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fond: #232323;
}

/*
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 30px;
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}
*/

/* Style page 404 Error */
.Error{
    width: 100vw;
    height: 100vh;
    background-color: var(--fond);
}

h1{
    margin: 0;
}

.titre-404{
    color: white;
    font-size: 300px;
    z-index: -1;
}

.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.images-container-404 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*

.images-container-404 img {
    width: 1200px;
    margin-top: -200px;

}

.hercule{
    padding-right: 200px;
}
.hermes{
    padding-right:1600px;
}
.images-container-404 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin-top: -50px;
}*/
.images-container-404{
    display: flex;
    justify-content: space-between;
    z-index: 1;

}
.hermes{
    margin-top: -685px;
    margin-left: -1700px;
}
.hercule{
    padding-right: -500px;
    margin-top: -350px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles pour le bouton */
.button-style {
    margin-top: 32px;
    padding: 10px 20px; /* Ajoute de l'espace autour du bouton */
    border: 2px solid #3498db; /* Bordure solide avec une couleur */
    background-color: #3498db; /* Couleur de fond du bouton */
    text-align: center; /* Centre le texte horizontalement */
}

.button-style a {
    text-decoration: none; /* Enlève le soulignement par défaut du lien */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
}

/* HEADER*/

header {
    background-color: #232323;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gauche {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.titre-logo {
    margin-left: 20px;
    margin-top: 30px;
}
.milieu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.milieu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    padding: 8px 16px;
    border-radius: 5px;
}

.droite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.droite a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.name{
    font-size: 18px;
    margin: 10px;
}

.logout-btn {
    background-color: #a84e4e;
    color: #adadad;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.logout-btn a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.milieu a:hover{
    text-decoration: none;
    color: #bababa;
    background-color: #3498db;
}