/* Font pour les textes: Playfair Display */
/* Font pour les titres: Rufina */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rufina&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Carlito, sans-serif;
}
/* font texte */

:root {
    --fond: #232323;
    --texte: #e2e2e2;
    --beige: #f8d28d;
    --jaune: #daa520;
    --orange: #de7030;
}

/* Style page 404 Error */
.Error{
    width: 100vw;
    height: 100vh;
    background-color: var(--fond);
}

h1{
    margin: 0;
    font-family: 'Rufina', serif;
}

.titre-404{
    color: white;
    font-size: 300px;
    z-index: -1;
}

.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.images-container-404 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.images-container-404{
    display: flex;
    justify-content: space-between;
    z-index: 1;

}
.hermes{
    margin-top: -685px;
    margin-left: -1700px;
}
.hercule{
    padding-right: -500px;
    margin-top: -350px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style {
    margin-top: 32px;
    padding: 10px 20px;
    /*border: 2px solid #3498db;*/
    color: var(--fond);
    background-color: var(--jaune);
    text-align: center;
}

.button-style a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*ALL*/
#all {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER*/

header {
    background-color: var(--fond);
    color: var(--texte);
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gauche {
    display: flex;
    align-items: center;
}

.logo {
    width: 400px;
}

.milieu{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.milieu a{
    text-transform: uppercase;
    font-family: 'Rufina', serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 5px;
}

.droite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.droite a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.name{
    font-size: 18px;
    margin: 10px;
}

.logout-btn {
    background-color: var(--orange);
    color: var(--texte);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.logout-btn a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.milieu a:hover{
    text-decoration: none;
    color: var(--fond);
    background-color: var(--orange);
}

/*MAIN*/
main {
    flex: 1;
}

/* FOOTER */
.container-footer{
    background-color: var(--fond);
    color: var(--texte);
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 150px;
    width: 100%;
    bottom: 0;
    position: relative;
}

.box{
    align-items: center;
    margin-left: 20px;
    padding: 0 150px;
}

.titre-footer, .texte-footer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: var(--texte)
}

.titre-footer{
    text-transform: uppercase;
    font-family: 'Rufina', serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.texte-footer{
    font-size: 20px;
    font-family: 'playfair-display', serif;
    padding-left: 20px;
}

.modif-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texte-footer:hover, .texte-footer a:hover{
    text-decoration: none;
    color: var(--orange);
}

.texte-footer, .texte-footer a {
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color: var(--texte);
}
.logos-rs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logos-rs > a > i{
    margin: 0 10px;
    font-size: 40px;
    color: var(--texte);
}

.logos-rs > a > i:hover{
    font-size: 40px;
    color: var(--orange);
}
p.copyright {
    top: 130px;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--texte);
}
/* PAGES DE REGISTER ET LOGIN */
.section-register{
    background-image: url(../images/Fond_login_register.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    flex-direction: column;
    text-align: center;
}

.formulaire-logins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--fond);
    color: var(--texte);
    text-align: center;
}

/*histoire.index*/
#histoire_index {
    background-color: var(--jaune);
    height: 100%;
}

#histoire_index #histoire_index_head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

#histoire_index #histoire_index_head form select {
    width: 200px;
}

#histoire_index #histoire_index_head form input {
    padding: 4px;
}

.section-register h1{
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', sans-serif;
    border-bottom: 2px solid var(--orange);
}

.section-register input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aff-row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.aff-row label i{
    padding: 10px;
}

.aff-row label i:hover{
    padding: 10px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--fond);
}

.register-send{
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid var(--orange);
    color: var(--orange);
    background-color: var(--fond);
    text-align: center;
    border-radius: 5px;
}

.register-send:hover{
    text-decoration: none;
    color: var(--fond);
    background-color: var(--orange);
    cursor: pointer;
}

.ask{
    margin-top: 10px;
    font-size: 18px;
}

.ask a{
    text-decoration: none;
    color: var(--orange);
    border-bottom: 1px solid var(--texte);
}

.ask a:hover{
    border-bottom: 1px solid var(--orange);
}

#liste-histoires{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/*histoire.index*/
.histoire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 400px;
    margin: 20px;
    background-color: var(--fond);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.histoire:hover {
    box-shadow: 0 0 20px var(--fond);
    transform: scale(1.05) translateZ(20px);
}

.histoire a {
    text-decoration: none;
}

.histoire .histoire-logo {
    width: 250px;
    height: 200px;
}

.histoire .histoire-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.histoire .histoire-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    padding: 10px;
}

.histoire h4 {
    text-align: center;
    margin: 16px 16px 8px 16px;
    color: var(--jaune);
}

.histoire p {
    text-align: justify;
    margin: 8px 16px 16px 16px;
    max-height: 100px;
    color: var(--texte);
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ACCUEIL */
#accueil {
    height: 100%;
    background-color: var(--jaune);
}

.container-accueil {
    font-family: Rufina, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.accueil-box{
    background-color: var(--fond);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 16px;
}

.accueil-box a{
    text-transform: uppercase;
    font-family: Rufina, serif;
    display: flex;
    margin-top: 16px;
    font-size: 24px;
    text-decoration: none;
    color: var(--beige);
}

.accueil-box p{
    width: 60%;
    font-size: 18px;

    text-align: center;
    margin: 10px;
    color: var(--texte);
}

/*histoire.create*/
#histoire_create, #histoire_edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/Fond_login_register.png);
}

#histoire_create h1, #histoire_edit h1 {
    margin: 30px 0;
    color: var(--beige);
    text-align: center;
}

#histoire_create form, #histoire_edit form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 30%;
    margin: 30px 0;
    background-color: var(--fond);
    color: var(--texte);
    border-radius: 10px;
    padding: 10px;
}

#histoire_create form *, #histoire_edit form * {
    margin: 10px
}

#histoire_create form label, #histoire_edit form label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#histoire_create form label input,  #histoire_create form label select, #histoire_edit form label input,  #histoire_edit form label select {
    flex: 1;
    border-radius: 10px;
}

#histoire_create form #submit_button, #histoire_edit form #submit_button, #histoire_edit form a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    padding: 5px;
    text-decoration: none;
}

#histoire_edit form div {
    display: flex;
    justify-content: space-around;
}

#histoire_create form #submit_button:hover, #histoire_edit form #submit_button:hover, #histoire_edit form a:hover {
    background-color: var(--orange);
    color: var(--fond);

}

.mention-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1em auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--fond);
    color: var(--texte);
}

.mention-container h1{
    text-align: center;
    padding: 1em;
    text-decoration: underline;
}

.mention-container p {
    padding: 0.5em;

}

.mention-container h3{
    padding: 1em;
    text-decoration: underline;
}

.mention-container a{
    color: #daa520;
}

.mention-fond{
    background-image: url('../images/Fond_login_register.png');
}

/* Page encours */
section.container-encours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box-encours{
    background-color: var(--jaune);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0 0;
}

.box-encours h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', sans-serif;
    border-bottom: 2px solid var(--fond);
}

/* section createChapitre */
.section-createChapitre{
    padding: 8px;
    background-color: var(--beige);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.input-enLigne-createChapitre{
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--fond);
    text-align: center;
}

.input-enLigne-createChapitre label{
    font-family: Carlito, sans-serif;
    padding: 8px;
}
.button-createChapitre{
    margin: 8px;
    padding: 10px 20px;
    border: none;
    color: var(--orange);
    background-color: var(--fond);
    text-align: center;
    border-radius: 5px;
}

.button-createChapitre:hover{
    text-decoration: none;
    color: var(--fond);
    background-color: var(--orange);
    cursor: pointer;
}


.section-liaison{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--jaune);
    width: 726px;
    border-radius: 0 0 16px 16px;
}

.container-liaisons{
    background-color: var(--beige);
    width: 540px;
    border-radius: 16px;
    margin: 20px;
}

.container-liaisons h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', sans-serif;
    border-bottom: 2px solid var(--fond);
}

.laisons-memeLigne{
    display: flex;
    justify-content: center;
    align-items: center;
}
.laisons-memeLigne p{
    margin: 10px;
}
select[name="destination"], select[name="origine"] {
    width: 20%; /* Ajuste la largeur du select */
    /* Ajoutez d'autres styles selon vos besoins */
}

.input-enLigne-createChapitre input{
    width: auto;
    border-radius: 5px;
}

input.input-encours{
    border-radius: 5px;
}

/*page histoire show */

.container-histoire-show{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Fond_login_register.png");

}
.histoire-show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--beige);
    width: 726px;
    border-radius: 15px;
    margin: 25px;
}

.head_histoire img{
    padding: 20px;
    width: 50%;
}

.head_histoire h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
}

.resume{
    padding: 20px;
    font-size: 20px;
    font-family: 'playfair-display', serif;
    text-align: justify;
}

.resume p{
    margin: 5px;
}

.bouton-histoire-show{
    padding: 8px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    background-color: var(--fond);
}

.bouton-histoire-show a{
    text-decoration: none;
    color: var(--texte);
}

.bouton-histoire-show:hover{
    background-color: var(--orange);
}

.container-histoire-show p, .container-histoire-show a{
    font-family: Carlito, sans-serif;
}

.input-histoire-show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--fond);
    color: var(--texte);
    border: none;
    border-radius: 5px;
    margin: 25px;
    padding: 8px;
}

.commencer-aventure{
margin: 25px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--fond);
}

.commencer-aventure {
    color: var(--texte);
    text-decoration: none;
}

.align-elements-histoire-show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    background-color: var(--fond);
    color: var(--texte);
    border: none;
    border-radius: 5px;
    margin: 25px;
    padding: 8px;
}
.align-elements-histoire-show input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.commenter{
    margin: 25px;
    padding: 8px;
    border: 1px solid var(--beige);
    border-radius: 5px;
}

